include includes/nav

div.container
	div.row
		div#leftSide.span6
			div#preview
				h1.logo mustwatch.it
				p
					em I'm a To-do list for your Videos, and I'm awesome!
				div
					a.twitter-follow-button(href="https://twitter.com/mustwatchit", data-show-count="false") Follow @mustwatchit
					| &nbsp;
					div.fb-like(data-href="http://www.mustwatch.it", data-send="true", data-layout="button_count", data-width="140", data-show-faces="true")
					script
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			h3 Unwatched Videos
			p These are the videos you're added to your account but have not yet watched, or marked as such.
			- if (req.loggedIn)
				- if (req.user.videos.length)
					ul#videos.thumbnails.unwatchedVideos
						- req.user.videos.forEach(function(item){
							- if (item.watched === false)
								li.mustwatch
									.video.thubnail(data-id="#{item.id}", data-provider="#{item.provider}")
										.imgBg
											a(href="/video/#{item.provider}/#{item.id}", title="Watch this video now")
												img(src="#{item.thumbnail}")
										a.title(href="/video/#{item.provider}/#{item.id}", title="Watch this video now") #{item.title}
										a.source(href="#{item.source}", title="Go to source page") #{item.source}
										br
										a.label.label-warning.markAsWatched(href="#", title="Mark as watched") Mark as watched
										| &nbsp;
										a.label.label-important.delete(href="#", title="Remove this video from your account") Remove
						- })
		div#rightSide.span6
			#notifications
				h3 Unwatched Reminders
				p Optional weekly/monthly email reminders of your unwatched Videos.
				#emailNotificationSent.hidden.alert.alert-success
					span
						strong Great Success!&nbsp;
						| You should receive a verification email shortly.
				#emailNotificationError.hidden.alert
					span 
						strong Error:&nbsp;
						| Unable to upadte your email address.
				#emailReminderChange.hidden.alert.alert-success
					span
						strong Great Success!&nbsp;
						| Your reminder update frequency has been updated.
				#emailReminderError.hidden.alert.alert-error
					span
						strong Error:&nbsp;
						| Unable to upadte your reminder frequency.
				#emailFreqUpdated.hidden.alert.alert-success
					span
						strong Great Success!&nbsp;
						| Your email reminders frequency has been updated.
				#emailFreqError.hidden.alert
					span 
						strong Error:&nbsp;
						| Unable to update your reminder frequency.
				form.form-search
					- if (!req.user.email.verified)
						div.section
							p You need to verify your email address to recieve reminders.
							input#emailAddress.span3.input-medium.search-query(type="text",value="#{req.user.email.value}")
							| &nbsp;
							button#addEmail.btn(type="submit") Set email address
					- else
						div.section
							p 
								em Changing your email address will require you to re-verify it.
							input#emailAddress.span3.input-medium.search-query(type="text",value="#{req.user.email.value}")
							| &nbsp;
							button#addEmail.btn(type="submit") Change email address
						div.section
							p 
								strong Reminder frequency:&nbsp;
								em Select how often you'd like your reminder emails to be sent to the above email address.
							label.radio
								- if (req.user.email.period === "none")
									input(type="radio",checked,value="none",id="periodNone",name="period")
									| None&nbsp;
								- else
									input(type="radio",value="none",id="periodNone",name="period")
									| None&nbsp;
							label.radio
								- if (req.user.email.period === "weekly")
									input(type="radio",checked,value="weekly",id="periodWeekly",name="period")
									| Weekly&nbsp;
								- else 
									input(type="radio",value="weekly",id="periodWeekly",name="period")
									| Weekly&nbsp;
							label.radio
								- if (req.user.email.period === "monthly")
									input(type="radio",checked, value="monthly",id="periodMonthly",name="period")
									| Monthly&nbsp;
								- else
									input(type="radio",value="monthly",id="periodMonthly",name="period")
									| Monthly&nbsp;
							button#setPeriod.btn(type="submit") Update


			h3 Watched Videos
			p These are the videos you're added to your account and marked as watched.	
			- if (req.loggedIn)
				- if (req.user.videos.length)
					ul#videos.thumbnails.watchedVideos
						- req.user.videos.forEach(function(item){
							- if (item.watched === true)
								li.watched
									.video.thubnail(data-id="#{item.id}", data-provider="#{item.provider}")
										.imgBg
											a(href="/video/#{item.provider}/#{item.id}", title="Watch this video now")
												img(src="#{item.thumbnail}")
										a.title(href="/video/#{item.provider}/#{item.id}", title="Watch this video now") #{item.title}
										a.source(href="#{item.source}", title="Go to source page") #{item.source}
										br
										a.label.label-warning.markAsUnwatched(href="#", title="Mark as unwatched") Mark as unwatched
										| &nbsp;
										a.label.label-important.delete(href="#", title="Remove this video from your account") Remove
						- })

