include includes/nav

div.container
	div.row
		div#leftSide.span6
			div#preview
				h1.logo mustwatch.it
				p
					em I'm a To-do list for your Videos, and I'm awesome!
				p
					a.twitter-follow-button(href="https://twitter.com/mustwatchit", data-show-count="false") Follow @mustwatchit
					script
						!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			h3 Unwatched Videos
			p These are the videos you're added to your account but have not yet watched, or marked as such.
			- if (req.loggedIn)
				- if (req.user.videos.length)
					ul#videos.thumbnails.unwatchedVideos
						- req.user.videos.forEach(function(item){
							- if (item.watched === false)
								li.mustwatch
									.video.thubnail(data-id="#{item.id}", data-provider="#{item.provider}")
										.imgBg
											a(href="/video/#{item.provider}/#{item.id}", title="Watch this video now")
												img(src="#{item.thumbnail}")
										a.title(href="/video/#{item.provider}/#{item.id}", title="Watch this video now") #{item.title}
										a.source(href="#{item.source}", title="Go to source page") #{item.source}
										br
										a.label.label-warning.markAsWatched(href="#", title="Mark as watched") Mark as watched
										| &nbsp;
										a.label.label-important.delete(href="#", title="Remove this video from your account") Remove
						- })
		div#rightSide.span6
			h3 Watched Videos
			p These are the videos you're added to your account and marked as watched.	
			- if (req.loggedIn)
				- if (req.user.videos.length)
					ul#videos.thumbnails.watchedVideos
						- req.user.videos.forEach(function(item){
							- if (item.watched === true)
								li.watched
									.video.thubnail(data-id="#{item.id}", data-provider="#{item.provider}")
										.imgBg
											a(href="/video/#{item.provider}/#{item.id}", title="Watch this video now")
												img(src="#{item.thumbnail}")
										a.title(href="/video/#{item.provider}/#{item.id}", title="Watch this video now") #{item.title}
										a.source(href="#{item.source}", title="Go to source page") #{item.source}
										br
										a.label.label-warning.markAsUnwatched(href="#", title="Mark as unwatched") Mark as unwatched
										| &nbsp;
										a.label.label-important.delete(href="#", title="Remove this video from your account") Remove
						- })

